.container {
  margin: 20px;
  padding: 20px;
}

.subforum {
  margin-top: 20px;
}

.subforum-title {
  background-color: var(--fivefold);
  border-radius: 5px;
  margin: 4px 4px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;

  & .title {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
    color: var(--background);
  }

  & .link {
    margin: 0 1rem 0 auto;
    color: var(--word1);
    text-decoration: none;
    cursor: pointer;
  }
}

.subforum-devider {
  display: none;
}

/* For smartphones */
@media screen and (max-width: 460px) {
  .container {
    margin: 10px;
    padding: 10px;
  }

  .subforum-title {
    padding: 0px;
    border-radius: 5px;
    margin: 0px 4px;
    font-size: 1rem;
    font-weight: bold;
  }

  .subforum-devider {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,
        rgba(190, 190, 190, 0),
        rgba(255, 255, 255, 0.75),
        rgba(190, 190, 190, 0));
  }
}

/* For tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
  .container {
    margin: 15px;
    padding: 15px;
  }
}