name: Lint

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Initialize .env files and directories
        run: node init.js
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install main deps
        run: yarn
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
