.subforum-row {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 10% 65% 20%;
  min-width: 600px;
  gap: 8px;
  color: var(--text);

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0 0 4px;
    word-wrap: break-word;
    font-size: 20px;
    line-height: 28px;
  }

  &__description {
    margin: 0;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
  }

  &__date {
    margin: 0;
    font-size: 10px;
  }
}

.subforum-column {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: var(--background2);

  & span {
    font-size: 0.8rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon .w-6-h-6 {
  font-size: 1rem;
  color: var(--word2);
}

/* For tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {


  .subforum-row {
    display: grid;
    grid-template-columns: 10% 65% 20%;
    min-width: 400px;
  }

  .subforum-icon .w-6-h-6 {
    width: 2rem;
  }
}